<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * PAGINA PRINCIPAL * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * *  * * * * * * * * * * -->
<h1>KAORI</h1>


<nav>
    
<a routerLink= "manejoAdmin" class = "btn btn-primary active">Administracion</a> 

<a routerLink= "listSerie" class = "btn btn-primary active">Listar Serie</a> 



<!-- * * * * * * * * * * * Aqui van  los botonoes* * * * * * * -->

</nav>




    

<router-outlet></router-outlet>