<p>registrar-snippet works!</p>
<h3>Registro de Snippets</h3>
<div>
    <form (ngSubmit) = "regSnippet()">
        <div class="form-group">
            <label for="description">Codigo</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="product.description" name="description"
                required #description ="ngModel">
            <div class="alert alert-danger" *nflf="description.invalid && (description.dirty || description.touched)">
                <div *nglf="description.errors.required">
                    Descripcion es requerida
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
             <input type="text" class="form-control" id="price" [(ngModel)]="product.price" name="price">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Registrar</button>
        </div>


    </form>
</div>