<h1>Kaori</h1>


<nav>
   
    <a  href= "http://localhost:4200/regSerie" class = "button" style="margin-right: 30px">Registrar Serie</a>
    
    <a  href= "http://localhost:4200/regTemporada" class = "button1" style="margin-right: 30px" >Registrar Temporada</a>

    <a  href= "http://localhost:4200/regCapitulo" class = "button2" style="margin-right: 30px">Registrar Capitulo</a>

    <a  href= "http://localhost:4200/regSnippet" class = "button3">Registrar Snippet</a>



<!--<a routerLink= "regSnippet" class = "btn btn-primary active">Registrar Snippet</a> -->

</nav>


<router-outlet></router-outlet>