<h3>Registro de Serie</h3>
<div>
    <form (ngSubmit) = "registrar()"> 
        <div class="form-group">
            
            <label for="idSerie">Id de la serie</label>
             <input type="text" class="form-control" id="idSerie" [(ngModel)]="serie.idSerie" name="idSerie" required #idSerie = "ngModel">
             <div class="alert alert-danger" *nflf="idSerie.invalid && (idSerie.dirty || idSerie.touched)">
                <div *nglf="idSerie.errors.required">
                    El id de la serie es requerido.
                </div>
            </div>
        
        <div class="form-group">
            <label for="nombre">Nombre</label>
             <input type="text" class="form-control" id="nombre" [(ngModel)]="serie.nombre" name="nombre">
        </div>

        <div class="form-group">
            <label for="personajes">Personajes</label>
             <input type="text" class="form-control" id="personajes" [(ngModel)]="serie.personajes" name="personajes">
        </div>

        <div class="form-group">
            <button type="submit" class="button" >Registrar</button>
        </div>

    </div>
    </form>




</div>
